! backspace to ^? instead of ^H
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?
! colors
XTerm*background: black
XTerm*foreground: grey
! font
XTerm*faceName: JetBrains Mono Nerd Font
XTerm*faceSize: 16
XTerm*scaleHeight: 1.2
! don’t scroll when new output arrives if user scrolled up
XTerm*scrollTtyOutput: false
XTerm*autoScrollLock: true
! jump to bottom of buffer if user makes input
XTerm*scrollKey: true
! history buffer
XTerm*saveLines: 10000
! keybindings
XTerm*translations: #override \n\
    Ctrl <Key> -: smaller-vt-font() \n\
    Ctrl <Key> +: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl Shift <Key>C: copy-selections(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
    <Btn2Up>: insert-selection(CLIPBOARD)
